







:root {
    --blue-intro: hsl(217, 28%, 15%);
    --blue-main: hsl(218, 28%, 13%);
    --blue-footer: hsl(216, 53%, 9%);
     --blue-test: hsl(219, 30%, 18%);
    --blue-cyan: hsl(176, 68%, 64%);
    --blue-cta: hsl(198, 60%, 50%);
    --wire-frame: 1px solid red;
}
img {
    max-width: 70%;
  }
  *,*::before,*::after {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  body {
    background: var(--blue-main);
    color: hsl(0, 0, 100%);
    font-family: 'Open sans', sans-serif;
    text-align: center;
  }
  .curvemob {
      display: none;
  }
  .active {
      color: #fff;
      font-weight: 700;
  }

  button {
    background: linear-gradient(to right, var(--blue-cyan) ,var(--blue-cta));
    padding: 1rem 2rem;
    width: auto;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
  }
  h1,h2,h3,h4,h5,h6,button {
      
    font-family: 'Raleway', sans-serif;
  }
  h1 {
      font-size: 2.8rem;
  }
  header {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .4rem;
    background: var(--blue-intro);
    position: fixed;
    z-index: 99;
    width: 100%;
    margin-top: -.5rem;
    font-family: 'Raleway', sans-serif;

      nav {
          ul {
              display: flex;
              align-items: center;
              justify-content: space-between;

              li {
                  list-style-type: none;
                  padding: .6rem 1.6rem;
                  font-size: 1rem;
                  
                  a {
                      text-decoration: none;
                      color: rgb(197, 197, 197);
                  }
              }
          }
      }
  }
    #intro {
        background: var(--blue-intro);
        padding: 2.8rem 0;
    
        .main {
            max-width: 60%;
            margin: 0  auto;
            position: relative;
            z-index: 9;
            
            &__header {
                width: 70%;
                margin: 0 auto;
                
                h1 {
                font-size: 2rem;
                line-height: 3rem;
                padding: 0;
                }
                
                p {
                    line-height: 1.9rem;
                }
            }
        }
    
        .curve {
            display: block;
            position: absolute;
            max-width: 100%;
            bottom: -5%; 
            left: 0;  
        }
    }

    .items {
        position: relative;
        z-index: 99;
        padding: 3rem 0;
        width: 85%;
        margin: 0 auto;
    
        &__one {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3rem 0;
        
            .card {
                width: 40%;
            }
        }
    }
    .pro {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        text-align: left;
        margin: 0 auto;
        padding: 3rem 0;
    
        .card {
            width: auto;
        }

        a {
            text-decoration: none;
            padding: .7rem 0;
            color: var(--blue-cyan);
            border-bottom: 1px solid var(--blue-cyan);
            cursor: pointer;
        }

        img {
            max-width: 60%;
        }
    }
    
    .team {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width:90%;
        margin: 0 auto;
        text-align: left;
        padding: 8rem 0;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .75rem;

        &__card {
            background: var(--blue-test);
            padding: 1.7rem 1.3rem;
            .tag {
                display: flex;
                padding: .6rem 0;

                .label {
                    display: flex;
                    flex-direction: column;
                    padding-left: 1rem;   
                    line-height: 1.1rem; 
                }
            }
            img {
                max-width: 12%;
                border-radius: 50%;
            }
        }
        &__card + &__card {
            margin-left: 2rem;
        }
    }
    .sign {
        width: 65%;
        margin: 0 auto;
        background: var(--blue-intro);
        padding: 3rem 3rem;
        position: relative;
        top: 3rem;
        box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.024),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 30.1px 24.1px rgba(0, 0, 0, 0.046),
        0 100px 80px rgba(0, 0, 0, 0.07);
        
        p {
            padding: 1.3rem 0;
        }
        

        input {
            padding: 1rem 2rem;
            font-size: .7rem;
            width: 50%;
            outline: none;
            border-radius: 50px;
            color: var(--blue-intro);
            font-family: 'Open Sans', sans-serif;
            margin-right: 1rem;
        }
    }
    .footer {
        background: var(--blue-footer);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 5rem 3rem;

        &__card {
            background: var(--blue-footer);
            width: auto;

            p {
                padding: 0 1rem;
                font-size: .6rem;
            }
            .pad {
                width: 45%;
    
            }
            .contact {
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    padding: .6rem 0;
                }
               
            }
        }
    }
    @media (max-width: 1110px) {

        button {
            padding: .6rem 1rem !important;
            font-size: .6rem !important;
          }

        .main__header {
            width: 90% !important;

        }
        h3 {
            font-size: .7rem;
            padding: .4rem;
        }
        h1 {
            font-size: 1.4rem !important;
            line-height: 1.9rem !important;
        }
        
        p {
            font-size: 1rem;
            padding: .6rem 0;
        }
        .curve {
            bottom: 5% !important; 
        }
        .box__card {
            padding: .6rem .85rem;
            p {
               font-size: .6rem;
           }
           .tag {
               padding: .3rem 0 !important;
           
               img {
                max-width: 17%;
            }
            } 
        }
        input {
            padding: .6rem 1rem !important;
            width: 50%;
            margin-right: 0 !important;
        }
    }
    @media(max-width: 850px) {

        header {
            margin: 0 !important;
        }
        .tag {
            font-size: .5rem;
        }
        .tag img {
            max-width: 30% !important;
        }
    }

    @media(max-width: 700px) {

        button {
            margin: 12px 0;
            width: 100% !important;
        }
        .curve {
            display: none !important;
        }
        .curvemob {
            display: block !important;
            position: absolute;
            bottom: 10%;
        }
        img { 
            max-width: 100%;
        }
        header{
            padding: 1rem .4rem;

            img {
                max-width: 50%;
            }
            
        li {
            font-size: .6rem !important;
            padding: .6rem .8rem !important;
        }
    }
    .box__card {
        width: 90% !important;
        padding: 0 !important;
    }
    h1 {
        font-size: .8rem !important;
        margin-top: 12px;
        line-height: 1.2rem !important;
    }    
    p {
        font-size: .6rem;
        padding: .4rem 0;
        line-height: .9rem !important;
    }
    .items__one {
        flex-direction: column;
        padding: 0 !important;

        p {
            font-size: .5rem;
        }
    }
    .card {
        width: 75% !important;
        padding: 1rem 0;
    }
    .pro {
        flex-direction: column;

        a {
            font-size: .7rem;

            img {
                padding-left: 8px;
            }
        }
    }
    .team {
        padding: 3rem 0 !important;
    }
    .box {
        flex-direction: column;

        &__card + &__card {
            margin: 2rem 0 !important;
        }
        &__card {
        padding: .7rem 1rem  !important;
        
        .tag {
        
            align-items: center;
            justify-content: flex-start;
         
            .label {
                padding-left: 1rem;   
                line-height: 16px !important; 
            }
        }
        img {
            max-width: 10% !important;
            border-radius: 50%;
        }
    }
  }
  .sign {
    width: 90% !important;
    
    p {
        padding: .7rem 0 !important;
    }
    
    input {
        padding: .6rem 1rem !important;
        font-size: .4rem !important;
        width: 100% !important;
    
    }
}
.footer {
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 5rem 1rem !important;
    margin: 0 !important;


    .space {
        display: flex;
        margin-top: 1rem;
        width: 25%;
        justify-content : space-between !important;  

    }

    &__card {
        width: 100%;
        
         p {
           
            font-size: .3rem;
        }
        .pad {
            width: 65% !important;
            padding: 0 .6rem !important;
        }

        .contact {
            justify-content : flex-start !important;    
            
            p {
                padding: .3rem 0;
            }
           
        }
    }
    &__card + &__card {
        margin-top: 1rem;
    }
}
}
@media(max-width: 400px) {

    header {
        padding: .6rem .6rem !important;
          li {
        font-size: 8px !important;
        padding: .2rem .4rem !important;
    }
    
    img {
        max-width: 40% !important;
    } 
}

   
}